.classBody {
    width: 10000px;
}

.divA{
    width: 500px; background-color: #ffa500; height: 500px;
}

.divB{
    width: 50%; background-color: blue;
}

.divD{
    width: 250px; background-color: #90e510; height: 250px;
}

.divE{
    width: 75px; height: 50px; background-color: red;
}

.classeP{
    color:#ffffff; background-color: red; font-size: 25px; font-family: monospace; font-weight: bold; 
}
